<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Thư viện bootstrap -->

    <!-- Các file dùng chung -->
    <link rel="stylesheet" href="../../Assets/CSS/Common/Common.css">
    <!-- Các file theo từng màn hình -->
    <link rel="stylesheet" href="../../Assets/CSS/Views/Employee/Employee.css">
    <link rel="stylesheet" href="../../Assets/CSS/Views/Employee/EmployeeDetail.css">
    <title>Nhân viên</title>
</head>

<body>

    <div class="wrapper">
        <div class="wrapper-header">
        </div>
        <div class="wrapper-body">
            <div class="sidebar"></div>
            <div class="main-content">
                <div class="header">
                    Danh sach nhan vien
                </div>
                <div class="body">
                    <!-- Toolbar nhân viên -->
                    <div class="toolbar" id="ToolbarEmployee">
                        <div CommandType="add" class="btnAdd">Thêm mới</div>
                        <div CommandType="edit" class="btnEdit">Sửa</div>
                        <div CommandType="delete" class="btnDelete">Xóa</div>
                        <div CommandType="duplidate" class="btnDuplidate">Nhân bản</div>
                        <div CommandType="print" class="btnPrint">In</div>
                        <div CommandType="import" class="btnImport">Nhập khẩu</div>
                        <div CommandType="export" class="btnExport">Xuất khẩu</div>
                    </div>
                    <!-- Grid nhân viên -->
                    <div id="gridEmployee" Toolbar="ToolbarEmployee" ItemId="EmployeeID" Url="https://cukcuk.manhnv.net/api/v1/Departments" class="table-wrapper">
                        <div class="column" style="display: none;">
                            <div class="col" FieldName="DepartmentCode">Tên nhân viên</div>
                            <div class="col" FieldName="DepartmentName">Mã nhân viên</div>
                            <div class="col" FieldName="Description">Mã nhân viên</div>
                            <div class="col" FieldName="DateOfBirth" DataType="Date">Ngày sinh</div>
                            <div class="col" FieldName="Gender">Giới tính</div>
                            <div class="col" FieldName="Salary" DataType="Number">Mức lương</div>
                            <div class="col" FieldName="Salary" DataType="Number">Mức lương 2</div>
                        </div>
                    </div>
                </div>

                <!-- Form detail -->
                <div class="form-detail" id="EmployeeDetail">
                    <input type="text" Required="true" SetField="EmployeeCode" placeholder="Nhập Mã nhân viên (*)">
                    <input type="text" Required="true" SetField="FullName" placeholder="Nhập tên nhân viên (*)">
                    <input type="text" SetField="Address" placeholder="Địa chỉ">
                    <input type="number"  SetField="Salary" DataType="Number" placeholder="Tiền lương">

                    <div class="btn-bottom toolbar-form">
                        <div CommandType="save" class="btn-Save">Lưu</div>
                        <div CommandType="close" class="btn-Close">Đóng</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Thư viện jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Các file dùng chung -->
    <script src="../../Script/Common/Common.js"></script>
    <script src="../../Script/Common/Enumeration.js"></script>
    <script src="../../Script/Common/Resource.js"></script>
    <script src="../../Script/Common/data.js"></script>
    <!-- Các file theo từng màn hình -->
    <script src="../../Script/Views/Empoyee/EmployeeDetail.js"></script>
    <script src="../../Script/Views/Empoyee/Employee.js"></script>
</body>

</html>